// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 72px;
  display: flex;
  justify-content: space-between;
}

.title-header {
  font-weight: 200;
  font-size: 24px;
  line-height: 36px;
  color: #0B1113;
  margin: 18px;
}

.circle-header {
  width: 24px;
  height: 24px;
  background: #0B1113;
  border-radius: 50%;
  margin: 24px;
}

.hero-img {
  display: block;
  width: 327px;
  height: 330px;
  border-radius: 32px 32px 0px 0px;
  margin: 109px auto 0;
}

.hero {
  height: 693px;
  background: #0b1113;
}

.hero h1, h3 {
  color: #fff;
}

.hero h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  padding: 69px 24px 20px;
}

.hero h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  padding: 20px 24px 24px;
}

.hero button {
  display: block;
  width: 193px;
  height: 42px;
  background: #fff;
  margin: 24px auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0b1113;
}

.hero button:hover {
  cursor: pointer;
}

.why-us {
  margin-top: 292px;
  text-align: center;
}

.why-us h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 53px;
}

.circle-main {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #24404F;
  margin: 0 auto 20px;
}

.vector {
  width: 16px;
  height: 9px;
  margin: auto;
  color: #646464;
  margin-top: 7.82px;
  margin-bottom: 3.82px;
  background: url(vector-down.png);
}

.vector-up {
  background: url(vector-up.png);
}

.whyus-subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.whyus-description {
  max-width: 336px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin: 38.82px auto 80px;
}

.no-display {
  display: none;
}

.add-margin {
  margin-top: 80px;
}

.signup {
  background: #495664;
  text-align: center;
}

.signup-info {
  padding-top: 63px;
}

.signup-info h2 {
  // max-width: 268px;
  height: 77px;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  margin: auto;
}

.signup-info h3 {
  height: 76px;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  margin: 15px 50px 0 51px;
}

.signup-info button {
  width: 193px;
  height: 42px;
  background: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background: #0b1113;
  margin: 52px auto 62px;
}

.bottom-padding {
  padding-bottom: 117px;
}

.last-img {
  width: 100%;
  min-height: 112px;
  background: url(cta_tea_cup_mobile.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) {
  .hero {
    height: 513px;
  }
  .hero-container {
    display: flex;
    max-width: 1312px;
    margin: auto;
  }

  .hero h1 {
    max-width: 615px;
    font-size: 52px;
    line-height: 80px;
    text-align: left;
    padding: 69px 0 24px 24px;
  }

  .hero h3 {
    max-width: 599px;
    font-size: 20px;
    text-align: left;
    padding-left: 24px;
    padding-top: 24px;
  }

  .hero-img {
    width: 414px;
    height: 420px;
    margin-right: 24px;
  }

  .hero button {
    margin: 27px 0 0 24px;
  }

  .why-us {
    margin-top: 173px;
  }

  .why-us h2 {
    margin-bottom: 64px;
  }

  .whyus-content {
    display: flex;
    justify-content: space-around;
    max-width: 1312px;
    margin: auto;
  }

  .whyus-box {
    width: 336px;
  }

  .whyus-description {
    margin-bottom: 87px;
  }

  .add-margin {
    margin-top: 0;
  }

  .bottom-padding {
    padding-bottom: 0;
  }

  .marginb-desktop {
    margin-bottom: 125.82px;
  }

  .signup {
    text-align: left;
  }

  .signup-info {
    max-width: 480px;
    padding-top: 64px;
  }

  .signup-info h2 {
    margin-left: 0;
    margin-right: 0;
    height: 60px;
  }
  .signup-info h3 {
    font-size: 24px;
    margin: 32px 0 0;
  }

  .signup-info button {
    margin-top: 32px;
    margin-bottom: 81px;
  }

  .signup-container {
    display: flex;
    margin-left: 64px;
  }

  .last-img {
    width: 822px;
    background: linear-gradient(to bottom, rgba(11, 17, 19, 0.36), rgba(11, 17, 19, 0.36)) , url(cta_tea_cup_desktop.jpg);
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 330px) {
  .hero-img {
    width: 229px;
    height: 231px;
    margin-top: 89px;
  }
}

@media screen and (min-width: 1180px) {
  .hero-img {
    width: 505px;
    height: 512px;
    margin-right: 24px;
    margin-top: 69px;
  }
}

@media screen and (min-width: 1365px) {
  .signup-container {
    position: relative;
  }

  .last-img {
    position: absolute;
    right: 0;
    min-height: 387px;
  }
}

@media screen and (min-width: 1440px) {
  .hero h1 {
    font-size: 68px;
    padding-left: 0;
  }

  .hero h3 {
    font-size: 24px;
    padding-left: 0;
  }

  .hero-img {
    width: 505px;
    height: 512px;
    margin: 69px 0 0 192px;
  }
}
