// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 72px;
  display: flex;
  justify-content: space-between;
}

.title-header {
  font-weight: 200;
  font-size: 24px;
  line-height: 36px;
  color: #0B1113;
  margin: 18px;
}

.circle-header {
  width: 24px;
  height: 24px;
  background: #0B1113;
  border-radius: 50%;
  margin: 24px;
}

.hero-img {
  width: 327px;
  height: 330px;
  border-radius: 32px 32px 0px 0px;
}

.hero {
  height: 693px;
  background: #0b1113;
}

.hero h1, h3 {
  color: #fff;
}

.hero h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  padding: 69px 24px 20px;
}

.hero h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  padding: 20px 24px 24px;
}

.hero button {
  display: block;
  width: 193px;
  height: 42px;
  background: #fff;
  margin: 24px auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0b1113;
}

.hero button:hover {
  cursor: pointer;
}

.hero-img {
  display: block;
  margin: 109px auto 0;
}

.why-us {
  margin-top: 292px;
  text-align: center;
}

.why-us h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 53px;
}

.circle-main {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #24404F;
  margin: auto;
}

.vector {
  width: 16px;
  height: 8.35px;
}

.vector-down {
  background: url(vector-down.png);
}

.vector-up {
  background: url(vector-up.png);
}

.sign-up {
  background: rgba(11, 17, 19, 0.36);
}

.last-img {
  width: 100%;
  height: 112px;
  background: url(cta_tea_cup_mobile.jpg);
  background-size: contain;
}
